[Desktop Entry]
Encoding=UTF-8
Name=ZeroNode
Comment=ZeroNode P2P Cryptocurrency
Comment[fr]=ZeroNode, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ZeroNode, eşten eşe kriptografik sanal para birimi
Exec=zeronode-qt %u
Terminal=false
Type=Application
Icon=colx128
MimeType=x-scheme-handler/colx;
Categories=Office;Finance;
