[Desktop Entry]
Encoding=UTF-8
Name=ZeroNode
Comment=ZeroNode P2P Cryptocurrency
Comment[fr]=ZeroNode, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ZeroNode, eşten eşe kriptografik sanal para birimi
Exec=znode-qt %u
Terminal=false
Type=Application
Icon=znode128
MimeType=x-scheme-handler/znode;
Categories=Office;Finance;
